h1{
    background-color: rgb(177, 143, 208);
    color: greenyellow;
    
}


ul{
    color: rgb(55, 152, 76);

}

#fruits-title{
    color: black;
}

.yellow-bg{
    /* background-color: darkgoldenrod !important; */
    background-color: brown;
}